*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; é a melhor pratica coloca-lo na Body e usar box-sizing: inherit; no Root*/
  box-sizing: inherit;
}

html {
  // this defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

.container {
  max-width: 1140px;
}


.rounded {
  @for $i from 1 through 20 {
    &__#{$i} {
      border-radius: #{$i}px;
    }
  }
}

.title-component {
  flex: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.py {
  @for $i from 1 through 80 {
    &__#{$i} {
      margin-top: #{$i}px;
      margin-bottom: #{$i}px;
    }
  }
}





.btn-case-study {
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: rgb(15, 15, 15);
  display: inline-block;
  text-decoration: none;
  padding: 0.7rem 2.3rem;
  transition: 0.2s;
  border-radius: 3.2rem;
  border: 0.2rem solid rgb(15, 15, 15);
  background: rgb(255, 255, 255);
  box-shadow: rgb(15, 15, 15) 1px 1px 0px 0px, rgb(15, 15, 15) 2px 2px 0px 0px, rgb(15, 15, 15) 3px 3px 0px 0px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}