.cursor {
  pointer-events: none;

  &__ball {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    mix-blend-mode: difference;
    transition: transform 0.3s ease;
  }

  &__ballBig .circle {
    width: 30px;
    height: 30px;
    background: #f7f8fa;
    border-radius: 50%;
  }

  &__ballSmall .circle {
    width: 10px;
    height: 10px;
    background: #f7f8fa;
    border-radius: 50%;
  }
}
